/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
  font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
	opacity:3;
}


.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514E;
  }

.profile{
  font-family: 'Reem Kufi', sans-serif;

}

h1{
  color:#bd5302;
  margin-top: 0;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;

 }

p{
  font-family: 'Dosis', sans-serif;

}

.tag{
    font-family: 'Sacramento', cursive;
      color:#bd5302;
      font-size: 200%;
}

.skill-row{

  width: 50%;
  margin: 90px auto 90px auto;

}

 h2{
   color: #bd5302;
   font-family: 'Montserrat', sans-serif;
   padding-bottom: 10px;

 }

 h3{
  color: #bd5302;
      font-family: 'Montserrat', sans-serif;

 }

.myskill{
  float:left;
}

.top-container{
  position: relative;
 }

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
  margin-top: 60px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}


.middle-container{
margin-top: 50px;
margin-bottom: 50px;
}

.skills{
  margin-top: 60px;
}

.html5{
  float:left;
}

.css3{
  float: right;
}

.jss{
  float:left;
}

a{
  margin: 10px 20px;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin-top: 50px;
  margin-bottom: 50px;
 }

.bottom-container{
	background: #FAFAFA;
  padding: 50px 0 20px;

}
 #pop{
   border-radius:50%;
   box-shadow: 1px 1px 2px black, 0 0 25px darkred, 0 0 5px darkred;   
 }



